/*colors used: Primary color (white): #000000; Secondary Color (Light Blue): #ECF4FF; */

header {
  position: fixed;
  width: 100%;
  background-color: #ECF4FF;
  text-align: center;
  display: inline-block;
  padding: 20px 0;
  border-bottom: 1px  solid #0235C0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
body {
  background-color: #ffffff;
  font-family: 'montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
main {
  padding:  182px 0 0 0;
}


.logo {
  max-width: 250px;
}

span{
  display:inline
}
#hero h1 {
  text-align: center; /* Centers text */
}
#hero {
  padding: 20px 0px 0px 0px;
  text-align: center;
  background-color: #ECF4FF;
  display: inline-block;
  width: 100%;
}
#hero p {
  text-align: center;
  padding: 0px 20px 10px 20px;
}


nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0235C0;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1EE4DD;
}
nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
}



h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 600;
}
h2 {
  font-size: 2.25em;
  font-weight: 600;
  text-decoration: underline;
}
h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 300;
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0235C0;
  border: 2px solid #0235C0;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  margin: 20px;
  padding: 20px 60px;
  border-radius: 40px;
  transition: 0.2s opacity;
}
.button:hover {
  background-color: #ffffff;
  border: 2px solid #0235C0;
  color: #0235C0; 
  opacity: 0.5; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: #ffffff;
  color: #0235C0;
  border: 2px solid #0235C0;
  margin: 0 0 30px;
  padding: 20px 60px;
  border-radius: 40px;
  transition: 0.2s opacity;
}
.button.contact:hover {
  background-color: #0235C0;
  color: #ffffff;
  opacity: 0.8;
  border-radius: 40px;
}
.button.contact:active {
  background-color: #0235C0;
  color: #ffffff;
  border-radius: 40px;
}


img {
  max-width: 100%;
}
#footer a {
  color: #0235C0;
  text-decoration: none; /* No underlining */
}
#footer a:hover {
  color: #1EE4DD;
  text-decoration: underline; /* Underlining when hovering over a link */
}
#footer a:visited { /* visited link */
  color: #0235C0;
  text-decoration: bold; 
}
#footer a:active { /* selected link */
  color: #1EE4DD;
}

/* Layout styling */
.container {
padding: 0 15px;
}
.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { 
    padding-bottom: 25px; border-bottom: 1px solid #0235C0; 
}

.center {
    text-align: center;
}

.social a{
  display:inline-block;
  width: 30px;
  margin: 10px 10px;
} 

.social{
  text-align: center;
}
footer > ul > li {
    display: inline-block;
  }
footer {
  background-color: #ECF4FF;
  padding: 20px;
  position: relative;top: 40px;
  text-align: center;
}

/*.col-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

/*.col-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/